/* STYLES FOR INDEX.HTML */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
:root {
  --titles-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --footer-background: #2f303a;
  --grey-background: #f5f4fa;
  --portfolio-main-background: #f5f5f5;
  --hero-btn-background: #188ce8;
  --hero-background: #c4c4c4;
  --social-media-icons-color: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --backdrop-background: rgba(0, 0, 0, 0.2);

  --transition-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* RESET START*/
ul {
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.item {
  list-style: none;
}
/* RESET END */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */
header {
  border-bottom: 1px solid #ececec;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-box {
  display: flex;
  justify-content: space-between;
}
.site-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--black-color);
}
.logo-first {
  color: var(--accent-color);
}
.nav-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--titles-color);

  transition: color var(--transition-general);
}
.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);

  transition: color var(--transition-general);
}
.contacts-icon {
  fill: var(--text-color);
  margin-right: 10px;
  transition: fill var(--transition-general);
}

.nav-link:hover,
.contacts-link:hover {
  color: var(--accent-color);
}
.nav-link:focus,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
/* HERO */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  padding: 200px 0;

  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  max-width: 696px;
  margin: 0 auto 30px;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: block;
  margin: auto;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color var(--transition-general);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-background);
}
/* BENEFITS */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}
.benefits-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;

  background-color: var(--grey-background);
}
.benefits-item {
  flex-basis: calc((100%-90px) / 4);
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--titles-color);

  margin-bottom: 10px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* DOING */
.doing {
  padding-top: 0;
}
.doing-list {
  display: flex;
  gap: 30px;
}
.doing-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titles-color);
}
.doing-item {
  position: relative;
}

.doing-item-title {
  position: absolute;
  bottom: 0;
  left: 0;

  height: calc(100% / 4.2);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
  background: var(--grey-background);
}

.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-container {
  padding: 30px 32px;
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--titles-color);

  text-align: center;
  margin-bottom: 10px;
}
.team-member-position {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.team-member-photo {
  display: block;
}
.team-social-media-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--transition-general);
}
.team-social-media-icon {
  fill: var(--social-media-icons-color);
  transition: fill var(--transition-general);
}
.team-social-media-link:hover,
.team-social-media-link:focus {
  background-color: var(--accent-color);
}
.team-social-media-link:hover .team-social-media-icon,
.team-social-media-link:focus .team-social-media-icon {
  fill: var(--white-color);
}
/* CLIENTS */
.section-clients {
  padding-top: 94px;
  padding-bottom: 79px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--social-media-icons-color);
  border-radius: 4px;

  transition: border-color var(--transition-general);
}
.clients-icon {
  fill: var(--social-media-icons-color);

  transition: fill var(--transition-general);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
/* FOOTER */
.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex-box {
  display: flex;
  align-items: baseline;
}
.logo-adress-box {
  margin-right: 70px;
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.logo-second {
  color: var(--white-color);
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 0.17;
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.contacts-link-futer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.join-box {
  margin-right: 93px;
}
.join-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.join-social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.join-social-media-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: var(--footer-icon-bg);

  transition: background-color var(--transition-general);
}
.join-social-media-icon {
  fill: var(--white-color);
}

.join-social-media-link:hover,
.join-social-media-link:focus {
  background-color: var(--accent-color);
}
.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.subscribe-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.subscribe-input {
  appearance: none;
  width: 358px;
  height: 50px;
  padding-left: 16px;

  color: var(--white-color);
  background-color: var(--footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:focus-visible {
  outline: 1px solid var(--accent-color);
}
.subscribe-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: backgound-color var(--transition-general);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hero-btn-background);
}
.subscribe-btn::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url('../images/svg-icons/form-icons/icon-send.svg');
  background-size: contain;
}
/*  STYLES FOR MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-background);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--transition-general), visibility var(--transition-general);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px 39px 40px 41px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-general);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;

  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--transition-general);
}
.close-btn:hover .close-icon {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
}
.modal-title {
  margin-bottom: 12px;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;

  color: #212121;
}
/* STYLES FOR FORM */
.modal-form {
  display: block;
}
.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  appearance: none;
  transition: outline var(--transition-general);
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill var(--transition-general);
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-input:focus-visible,
.comment-input:focus-visible {
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
}
.comment-input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  appearance: none;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}
.form-checkbox {
  cursor: pointer;
  appearance: none;
}
.form-checkbox:focus-visible + .form-checkbox-icon {
  outline: 1px solid var(--accent-color);
}
.form-checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url('../images/svg-icons/form-icons/icon-unchecked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;

  transition: background-image var(--transition-general);
}
.form-checkbox:checked + .form-checkbox-icon {
  background-image: url('../images/svg-icons/form-icons/icon-checked.svg');
}
.form-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  user-select: none;

  color: var(--text-color);
}
.form-agreement-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.form-agreement-link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-general);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--hero-btn-background);
}

/* STYLES FOR PORTFOLIO.HTML */

/* FILTERS */
.filters-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: transparent;

  padding: 6px 22px;
  border-radius: 4px;

  color: var(--titles-color);
  background-color: var(--grey-background);

  transition: background-color var(--transition-general), color var(--transition-general);
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}
.filters-btn,
.hero-btn {
  cursor: pointer;
}
/* EXAMPLES */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titles-color);

  margin-bottom: 4px;
}
.examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.examples-container {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.examples-link {
  display: block;

  transition: box-shadow var(--transition-general);
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--white-color);
}
.examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-general);
}
.examples-thumb {
  position: relative;
  overflow: hidden;
}
.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
  transform: translateY(0);
}
